
sme-xls/AGRUPAMENTOS_POR_AMBIENTES_ED_INF.xlsx
/sme-xls
ESTUDO_ESCOLAS/AJ-30/AJ-30.accdb
ESTUDO_ESCOLAS/AMBIENTES/AMBIENTES_ESCOLAS.xlsx
/ESTUDO_ESCOLAS/AMBIENTES
ESTUDO_ESCOLAS/AREAS/ESCOLAS_BT.xlsx
/ESTUDO_ESCOLAS
*.xlsx
