USE [Db_local]
GO
/****** Object:  StoredProcedure [dbo].[GERA_ALUNOS_DIARIO]    Script Date: 09/12/2024 08:38:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[GERA_ALUNOS_DIARIO]

AS


IF EXISTS 																
	(SELECT * FROM TEMPDB..SYSOBJECTS WHERE NAME = '##NEC') 	
DROP TABLE ##NEC
SELECT DISTINCT CD_ALUNO, NULL DEF1, NULL DEF2, NULL DEF3, NULL DEF4, NULL DEF5, NULL DEF6, NULL DEF7, NULL DEF8, NULL DEF9, NULL DEF10 INTO ##NEC FROM D_NECESSIDADE_ESPECIAL_ALUNO
WHERE DT_FIM IS NULL

IF EXISTS 																
	(SELECT * FROM TEMPDB..SYSOBJECTS WHERE NAME = '##POPULA') 	
DROP TABLE ##POPULA
SELECT * INTO ##POPULA FROM D_NECESSIDADE_ESPECIAL_ALUNO
WHERE DT_FIM IS NULL



IF EXISTS 																
	(SELECT * FROM TEMPDB..SYSOBJECTS WHERE NAME = '##DEL1') 	
DROP TABLE ##DEL1
SELECT CD_ALUNO, MIN(CD_IDENTIFICADOR_NECESSIDADE_ESPECIAL_ALUNO)CD_IDENTIFICADOR_NECESSIDADE_ESPECIAL_ALUNO  INTO ##DEL1 FROM ##POPULA
WHERE DT_FIM IS NULL
GROUP BY CD_ALUNO

		UPDATE A SET DEF1 = B.TP_NECESSIDADE_ESPECIAL FROM ##NEC A 
		JOIN ##POPULA B ON A.CD_ALUNO = B.CD_ALUNO 
		JOIN ##DEL1 C ON A.CD_ALUNO = B.CD_ALUNO AND B.CD_IDENTIFICADOR_NECESSIDADE_ESPECIAL_ALUNO = C.CD_IDENTIFICADOR_NECESSIDADE_ESPECIAL_ALUNO

				DELETE A FROM ##POPULA A JOIN ##DEL1 B ON 
				A.CD_ALUNO = B.CD_ALUNO AND A.CD_IDENTIFICADOR_NECESSIDADE_ESPECIAL_ALUNO = B.CD_IDENTIFICADOR_NECESSIDADE_ESPECIAL_ALUNO
-------------------------------------
IF EXISTS 																
	(SELECT * FROM TEMPDB..SYSOBJECTS WHERE NAME = '##DEL2') 	
DROP TABLE ##DEL2
SELECT CD_ALUNO, MIN(CD_IDENTIFICADOR_NECESSIDADE_ESPECIAL_ALUNO)CD_IDENTIFICADOR_NECESSIDADE_ESPECIAL_ALUNO  INTO ##DEL2 FROM ##POPULA
WHERE DT_FIM IS NULL
GROUP BY CD_ALUNO

		UPDATE A SET DEF2 = B.TP_NECESSIDADE_ESPECIAL FROM ##NEC A 
		JOIN ##POPULA B ON A.CD_ALUNO = B.CD_ALUNO 
		JOIN ##DEL2 C ON A.CD_ALUNO = B.CD_ALUNO AND B.CD_IDENTIFICADOR_NECESSIDADE_ESPECIAL_ALUNO = C.CD_IDENTIFICADOR_NECESSIDADE_ESPECIAL_ALUNO

				DELETE A FROM ##POPULA A JOIN ##DEL2 B ON 
				A.CD_ALUNO = B.CD_ALUNO AND A.CD_IDENTIFICADOR_NECESSIDADE_ESPECIAL_ALUNO = B.CD_IDENTIFICADOR_NECESSIDADE_ESPECIAL_ALUNO
-------------------------------------
IF EXISTS 																
	(SELECT * FROM TEMPDB..SYSOBJECTS WHERE NAME = '##DEL3') 	
DROP TABLE ##DEL3
SELECT CD_ALUNO, MIN(CD_IDENTIFICADOR_NECESSIDADE_ESPECIAL_ALUNO)CD_IDENTIFICADOR_NECESSIDADE_ESPECIAL_ALUNO  INTO ##DEL3 FROM ##POPULA
WHERE DT_FIM IS NULL
GROUP BY CD_ALUNO

		UPDATE A SET DEF3 = B.TP_NECESSIDADE_ESPECIAL FROM ##NEC A 
		JOIN ##POPULA B ON A.CD_ALUNO = B.CD_ALUNO 
		JOIN ##DEL3 C ON A.CD_ALUNO = B.CD_ALUNO AND B.CD_IDENTIFICADOR_NECESSIDADE_ESPECIAL_ALUNO = C.CD_IDENTIFICADOR_NECESSIDADE_ESPECIAL_ALUNO

				DELETE A FROM ##POPULA A JOIN ##DEL3 B ON 
				A.CD_ALUNO = B.CD_ALUNO AND A.CD_IDENTIFICADOR_NECESSIDADE_ESPECIAL_ALUNO = B.CD_IDENTIFICADOR_NECESSIDADE_ESPECIAL_ALUNO
-------------------------------------
IF EXISTS 																
	(SELECT * FROM TEMPDB..SYSOBJECTS WHERE NAME = '##DEL4') 	
DROP TABLE ##DEL4
SELECT CD_ALUNO, MIN(CD_IDENTIFICADOR_NECESSIDADE_ESPECIAL_ALUNO)CD_IDENTIFICADOR_NECESSIDADE_ESPECIAL_ALUNO  INTO ##DEL4 FROM ##POPULA
WHERE DT_FIM IS NULL
GROUP BY CD_ALUNO

		UPDATE A SET DEF4 = B.TP_NECESSIDADE_ESPECIAL FROM ##NEC A 
		JOIN ##POPULA B ON A.CD_ALUNO = B.CD_ALUNO 
		JOIN ##DEL4 C ON A.CD_ALUNO = B.CD_ALUNO AND B.CD_IDENTIFICADOR_NECESSIDADE_ESPECIAL_ALUNO = C.CD_IDENTIFICADOR_NECESSIDADE_ESPECIAL_ALUNO

				DELETE A FROM ##POPULA A JOIN ##DEL4 B ON 
				A.CD_ALUNO = B.CD_ALUNO AND A.CD_IDENTIFICADOR_NECESSIDADE_ESPECIAL_ALUNO = B.CD_IDENTIFICADOR_NECESSIDADE_ESPECIAL_ALUNO
-------------------------------------
IF EXISTS 																
	(SELECT * FROM TEMPDB..SYSOBJECTS WHERE NAME = '##DEL5') 	
DROP TABLE ##DEL5
SELECT CD_ALUNO, MIN(CD_IDENTIFICADOR_NECESSIDADE_ESPECIAL_ALUNO)CD_IDENTIFICADOR_NECESSIDADE_ESPECIAL_ALUNO  INTO ##DEL5 FROM ##POPULA
WHERE DT_FIM IS NULL
GROUP BY CD_ALUNO

		UPDATE A SET DEF5 = B.TP_NECESSIDADE_ESPECIAL FROM ##NEC A 
		JOIN ##POPULA B ON A.CD_ALUNO = B.CD_ALUNO 
		JOIN ##DEL5 C ON A.CD_ALUNO = B.CD_ALUNO AND B.CD_IDENTIFICADOR_NECESSIDADE_ESPECIAL_ALUNO = C.CD_IDENTIFICADOR_NECESSIDADE_ESPECIAL_ALUNO

				DELETE A FROM ##POPULA A JOIN ##DEL5 B ON 
				A.CD_ALUNO = B.CD_ALUNO AND A.CD_IDENTIFICADOR_NECESSIDADE_ESPECIAL_ALUNO = B.CD_IDENTIFICADOR_NECESSIDADE_ESPECIAL_ALUNO
-------------------------------------
IF EXISTS 																
	(SELECT * FROM TEMPDB..SYSOBJECTS WHERE NAME = '##DEL6') 	
DROP TABLE ##DEL6
SELECT CD_ALUNO, MIN(CD_IDENTIFICADOR_NECESSIDADE_ESPECIAL_ALUNO)CD_IDENTIFICADOR_NECESSIDADE_ESPECIAL_ALUNO  INTO ##DEL6 FROM ##POPULA
WHERE DT_FIM IS NULL
GROUP BY CD_ALUNO

		UPDATE A SET DEF6 = B.TP_NECESSIDADE_ESPECIAL FROM ##NEC A 
		JOIN ##POPULA B ON A.CD_ALUNO = B.CD_ALUNO 
		JOIN ##DEL6 C ON A.CD_ALUNO = B.CD_ALUNO AND B.CD_IDENTIFICADOR_NECESSIDADE_ESPECIAL_ALUNO = C.CD_IDENTIFICADOR_NECESSIDADE_ESPECIAL_ALUNO

				DELETE A FROM ##POPULA A JOIN ##DEL6 B ON 
				A.CD_ALUNO = B.CD_ALUNO AND A.CD_IDENTIFICADOR_NECESSIDADE_ESPECIAL_ALUNO = B.CD_IDENTIFICADOR_NECESSIDADE_ESPECIAL_ALUNO
----------------------------------------------------------------------------------------------------------------------------------------------------*/
 
--AGORA NÃO CRIA MAIS TABELA...CRIA A PROCEDURE, É PRECISO EXECUTAR A PROC

IF EXISTS 																
	(SELECT * FROM Db_Local..SYSOBJECTS WHERE NAME = 'SME_ALUNOS_DIARIO') 	
DROP TABLE SME_ALUNOS_DIARIO

SELECT DISTINCT 
	A.AN_LETIVO,
	A.CD_ESCOLA, 
	A.CD_MATRICULA, 
	F.CD_TURMA_ESCOLA,
	CD_TURMA_PRODESP,
	ST_MATRICULA, 
	CD_SITUACAO_ALUNO,
	TP_MATRICULA, 
	A.CD_ALUNO, 
	NR_REGISTRO_ESTADO AS RA, 
	CD_DIGITO_REGISTRO_ESTADO AS DIGRA, 
	SG_UF_REGISTRO_ALUNO_ESTADO AS UFRA,
	TP_RACA_COR , 
	CD_SEXO_ALUNO, 
	DT_NASCIMENTO_ALUNO,
	A.CD_RENDIMENTO_PARECER_CONCLUSIVO, 
	DEF1, DEF2, DEF3, DEF4, DEF5, DEF6, DEF7, DEF8, DEF9, DEF10,
	NM_ALUNO,
	NM_MAE_ALUNO,
	NM_PAI_ALUNO,
	B.CD_INEP_ALUNO,
	D.CD_ETAPA_ENSINO,
	SG_ETAPA,
	A.CD_SERIE_ENSINO,
	SG_SERIE_ENSINO,
	G.CD_TIPO_PROGRAMA,
	CD_IDENTIFICACAO_SOCIAL AS NIS,
	NM_SOCIAL_ALUNO, 
	CD_TIPO_SIGILO,
	DT_STATUS_MATRICULA,
	CD_NACIONALIDADE_ALUNO, 
	CD_PAIS_MEC,

	GETDATE() AS CRDATE
INTO SME_ALUNOS_DIARIO
FROM D_MATRICULA A
JOIN D_ALUNO B ON A.CD_ALUNO = B.CD_ALUNO
LEFT JOIN ##NEC C ON A.CD_ALUNO = C.CD_ALUNO
LEFT JOIN D_SERIE_ENSINO D ON A.CD_SERIE_ENSINO = D.CD_SERIE_ENSINO
LEFT JOIN D_ETAPA_ENSINO E ON D.CD_ETAPA_ENSINO = E.CD_ETAPA_ENSINO
LEFT JOIN D_MATRICULA_TURMA_ESCOLA F ON A.CD_MATRICULA = F.CD_MATRICULA
LEFT JOIN D_TURMA_ESCOLA G ON F.cd_turma_escola = G.cd_turma_escola
WHERE 
	--ST_MATRICULA = 1 
	 --CD_SITUACAO_ALUNO = 1
	--AND B.CD_TIPO_TURMA NOT IN (2,4) -- PEGA SOMENTE TURMA DE ESCOLARIZACAO(ESPECIAL TAMBEM) EXCLUI EDUCACAO FISICA NO CONTRATURNO E OUTRA COSITAS MAIS
	 F.CD_SITUACAO_ALUNO IN (1,5,6,10,13)  -- SITUACAO DO ALUNO NA TURMA, MOSTRA O HISTORICO DE MOVIMENTACAO DELE 
	 AND A.AN_LETIVO = '2025'
	--AND A.ST_MATRICULA = 1 --SITUACAO DO ALUNO - ATIVA OU NÃO

CREATE INDEX INDEX_CD_ALUNO							ON Db_Local.DBO.SME_ALUNOS_DIARIO (CD_ALUNO)


--DROP PROCEDURE GERA_ALUNOS_DIARIO
--SELECT * FROM Db_Local.DBO.SME_ALUNOS
--DROP TABLE Db_Local.DBO.SME_ALUNOS
--EXEC GERA_ALUNOS_DIARIO
--SELECT TOP 1 * FROM SME_ALUNOS_DIARIO






